[Unit]
Description=WisMon1 wisdev node
After=network.target

[Service]
ExecStart=/usr/bin/ruby /usr/local/bin/wnmsaver.rb --out=/nwp/m0/devnode%%H.tar 'devnode'
Restart=always
RestartSec=30
User=nwp
Group=nwp

[Install]
WantedBy=multi-user.target
